{% extends "base.html" %}

{% block title %}{{ SITENAME }} - Authors{% endblock %}

{% block content %}
    <main>
        <section>
            <h2>Authors</h2>
            <ul class="list-no-style">
                {% for author, articles in authors|sort %}
                    {% if author == "" %}
                        <li class="article-list-item">
                            <a href="#">
                                Anonymous
                            </a>
                            ({{ articles|count }})
                        </li>
                        {% else %}
                        <li class="article-list-item">
                            <a href="{{ SITEURL }}/{{ author.url }}">
                                {{ author }}
                            </a>
                            ({{ articles|count }})
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </section>
    </main>
{% endblock %}
