{% extends "base.html" %}

{% block title %}{{ SITENAME }} - {{ tag }}{% endblock %}

{% block content %}
    <main>
        <section>
            <h2>#{{ tag }}</h2>
            <ul class="list-no-style">
                {% for article in dates %}
                    <li class="article-list-item">
                        <a href="{{ SITEURL }}/{{ article.url }}">
                            {{ article.title }}
                        </a>
                        <time class="article-list-time">
                            {{ article.date|strftime('%b %Y') }}
                        </time>
                    </li>
                {% endfor %}
            </ul>
        </section>
    </main>
{% endblock %}
