{% extends "base.html" %}

{% block title %}{{ SITENAME }} - Tags{% endblock %}

{% block content %}
    <main>
        <section>
            <h2>Tags for {{ SITENAME }}</h2>
            <ul class="list-no-style">
                {% for tag, articles in tags|sort %}
                    <li class="article-list-item">
                        <a href="{{ SITEURL }}/{{ tag.url }}">
                            {{ tag }}
                        </a> 
                        ({{ articles|count }})
                    </li>
                {% endfor %}
            </ul>
        </section>
    </main>
{% endblock %}
